*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a0a3d;
    padding: 1.2rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#search{
    position: relative;
    width: 40%;
}

#search input{
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #0a0a3d;
    border: 0.5px #ffffff solid;
    border-radius: 5px;
    color: #fff;
}

#search button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #fff;
    width: 20px;
    height: 20px;
    border: none;
    font-size: 20px;
}

#navbutton{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.navbutton{
    font-size: 16px;
    padding: 5px 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.login{
    background-color: #0a0a3d;
    color: #fff;
    border: 0.2px #ffffff solid;

}

#hero--section{
    background-image: url(/Images/pixelcut-export.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px #fff solid;
    display: flex;
    align-items: center;
    height: 30rem;
}

.hero--content{
    position: relative;
    left: 10%;
    max-width: 800px;
    color: #fff;
}

.hero--content h1{
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 10px;
}

.hero--content p{
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.hero--content button{
    background-color: rgb(237, 237, 8);
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    border-radius: 5px;
    border: none;
    display: flex;
    gap: 8px;
}

#genres{
    margin-top: 2rem;
    color: #fff;

}

#cards{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.card{
    width: 300px;
    height: 100%;
    background-color: #010730;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 2px 4px 8px #060693; */
}

.card img{
    width: 180px;
    height: 180px;
}

.cardcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    margin-top: 15px;
}

.cardcontent p{
    font-size: 18px;
    padding-bottom: 5px;
}

.rating{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 12px;
}

.rating div{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

.cardcontent a ion-icon{
    border: 1px #fff solid;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}


